.home {
    display: flex;
    flex-direction: column;
    background: linear-gradient(180deg, #1a1826, #413b5e);
    padding: 20px 20px 200px; /* arriba costado abajo */
    align-items: center;
}

.titleContainer {
    padding-top: 100px;
}

.home p {
    font-size: 2.5em;
    color: white;
}

.callToAction {
    background-color: aquamarine;
    padding: 10px;
    margin-left: 20px;
    transform: scale(1);
    transition: transform 0.3s ease, padding 0.3s ease;
}

.callToAction:hover {
    transform: scale(1.1);
    cursor: pointer;
    padding: 15px; /* Ajuste suave en padding al hacer hover */
}

.contactContainer{
    padding-top: 40px;
}