.HowWeWork{
    display: flex;
    padding-top: 100px;
    flex-direction: column;
    background: linear-gradient(180deg,#1a1826,#413b5e);
}

.titleHow{
    font-size: 2em;
    color: white;
    font-weight: 400;
    text-align: center;
}