.NavLinks {
    display: flex;
    flex-direction: column;  /* Asegura que los enlaces estén apilados en móviles */
    list-style: none;
    padding-top: 90px;
    margin: 0;
    gap: 1rem;  /* Espaciado entre los enlaces */
    text-align: center;

}

.NavLinks li {
    cursor: pointer;
    padding: 0.5rem 0;
    transition: transform 0.3s ease, color 0.3s ease;
    color: white;
    text-decoration: none;
    font-size: 1.5rem;  /* Aumenté un poco el tamaño de la fuente para mayor visibilidad */
    padding: 10px;
    transition: color 0.3s ease;
}

.NavLinks li:hover {
    color: #00ccff; /* Cambio de color al pasar el ratón sobre los enlaces */
    transform: scale(1.1);  /* Agranda el enlace ligeramente */
}
